{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<section class="auth-form-shell">
    <form class="form" method="post">
        {% csrf_token %}
        {% if form and form.errors %}
        <div class="form-error">{{ form.errors.as_ul }}</div>
        {% endif %}
        <span class="input-span">
            <label for="email" class="label">Email</label>
            <input type="email" name="email" id="email" autocomplete="email" required>
        </span>
        <span class="input-span">
            <label for="username" class="label">Username</label>
            <input type="text" name="username" id="username" autocomplete="username" required>
        </span>
        <span class="input-span">
            <label for="password1" class="label">Password</label>
            <input type="password" name="password1" id="password1" autocomplete="new-password" required>
        </span>
        <span class="input-span">
            <label for="password2" class="label">Confirm Password</label>
            <input type="password" name="password2" id="password2" autocomplete="new-password" required>
        </span>
        <input class="submit" type="submit" value="Sign up" />
        <span class="span">Already have an account? <a href="{% url 'login' %}">Log in</a></span>
    </form>
</section>
{% endblock %}
